@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap');

:root {
  --blue-hover: #666ca3;
  --blue: #13183f;
  --text-gray: hsl(232, 10%, 56%);
  --main-orange: #f74780;
  --main-pink: #ffa7c3;
  --white: #ffffff;
  --primary-gradient: linear-gradient(180deg, #ff6f48 0.04%, #f02aa6 100%);
  --secondary-gradient: linear-gradient(180deg, #4851ff 0%, #f02aa6 99.92%);

  --header-height: 3.5rem;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Plus Jakarta Sans', sans-serif;
  --biggest-font-size: 3.5em;
  --bigger-font-size: 1.35em;
  --h1-font-size: 1.5em;
  --h2-font-size: 1.25em;
  --h3-font-size: 4.25rem
  --normal-font-size: 1.55em;
  --small-font-size: 0.813em;
  --smaller-font-size: 0.75em;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 700;
  --font-super-bold: 900;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 8rem;
    --bigger-font-size: 1.55em;
    --h1-font-size: 2.25rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1.6em;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
  color: var(--text-gray);
  background-repeat: no-repeat;
}

h1,
h2,
h3 {
  color: var(--blue);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* img {
  max-width: 100%;
  height: auto;
} */

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 50em;
  margin-inline: 2rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 1rem;
}

.section__title {
  font-size: var(--h1-font-size);
  font-family: var(--title-font);
  margin-bottom: 1.5rem;
}

.section__subtitle {
  display: block;
  font-size: var(--h2-font-size);
  font-family: var(--subtitle-font);
  color: var(--first-color);
  margin-bottom: 0.5rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

.btn {
  font-size: 2rem;
  color: var(--white);
  font-weight: 700;
  padding: 1em 1.8em;
  border-radius: 6rem;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--white);
  /* box-shadow: 0 8px 20px hsla(232, 10%, 56%, 0.1); */
  transition: box-shadow 0.3s;
  padding-bottom: 3rem;
}

.nav {
  position: relative;
  margin-top: 3rem;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: flex;
}

.nav__logo {
  align-items: center;
  column-gap: 0.5rem;
  transition: color 0.3s;
}

.nav__logo img {
  width: 7em;
}

.btn-blue {
  background-color: var(--blue);
}

/*=============== HOME ===============*/
.home {
  position: relative;
}

.home__container {
  row-gap: 6rem;
  padding-top: 13rem;
}

.home__data {
  text-align: left;
}

.home__title {
  font-size: var(--biggest-font-size);
  font-family: var(--title-font);
  font-weight: var(--font-super-bold);
  margin-bottom: 2rem;
}

.home__title div {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
}

.home__description {
  margin-bottom: 5rem;
  font-size: var(--bigger-font-size);
  line-height: 1.7;
}

.btn-orange {
  background: var(--primary-gradient);
  padding: 2.25rem 4.5rem;
}

.home__img-img {
  width: 130%;
  justify-self: center;
}

.desktop-image {
  display: none;
}

/* https://www.frontendmentor.io/challenges/skilled-elearning-landing-page-S1ObDrZ8q */

/*=============== Courses ===============*/

.courses {
  margin-top: -3em;
}

.courses__container {
  grid-template-columns: 1fr;
  justify-content: center;
  row-gap: 5.5rem;
  margin-bottom: 8rem;
}

.courses__title {
  color: #fff;
  background: var(--primary-gradient);
  font-size: 2.1em;
  padding: 4rem 3.5rem;
  border-radius: 1rem;
  font-weight: 700;
}

.courses__card {
  position: relative;
  background-color: var(--white);
  padding: 8rem 3.5rem 4.5rem;
  border-radius: 1.5rem;
  box-shadow: 0 8px 20px hsla(19, 64%, 48%, 0.08);
  text-align: left;
}

.courses__img {
  width: 4.5em;
  position: absolute;
  inset: 0;
  top: -3rem;
  left: 3.5rem;
  transition: transform 0.4s;
}

.courses__name {
  font-size: var(--h3-font-size);
  font-weight: var(--font-super-bold);
  font-family: var(--title-color);
  margin-bottom: 2.5rem;
}

.courses__description {
  display: block;
  font-size: var(--bigger-font-size);
  line-height: 1.6;
  margin-bottom: 3.5rem;
}

.courses__button {
  border: none;
  outline: none;
  color: var(--main-orange);
  font-weight: var(--font-semi-bold);
  font-size: 2.3rem;
  cursor: pointer;
  transition: background 0.3s;
}

/*=============== FOOTER ===============*/
footer {
  background: var(--blue);
}

.footer__container {
  padding: 5rem 0;
  display: flex;
  justify-content: space-between;
}

.btn-footer {
  background: var(--secondary-gradient);
}

@media screen and (min-width: 768px) {
  .header {
    position: initial;
    background-color: transparent;
    padding-bottom: 0;
  }

  .nav {
    height: 9em;
    background-color: transparent;
  }
  .nav__logo img {
    width: 10em;
  }

  .btn-blue {
    font-size: 2.3rem;
    padding: 1em 2em;
  }

  .container {
    max-width: 96em;
    margin: 0 auto;
  }

  .btn {
    font-size: 2.5rem;
    font-weight: 500;
  }

  .btn-orange {
    padding: 2.7rem 4.5rem;
  }

  .main,
  .home.section {
    overflow: visible;
  }

  .home__container {
    padding-top: 12em;
    display: flex;
    position: relative;
    overflow: visible;
    margin-bottom: 30em;
  }

  .home__title {
    margin-bottom: 4rem;
  }

  .mobile-image {
    display: none;
  }
  .desktop-image {
    display: block;
    position: absolute;
    top: -50%;
    right: -45%;
    max-width: 1400px;
    z-index: -2;
  }

  .home__data {
    max-width: 55%;
  }

  .home__description {
    padding-right: 10em;
    margin-bottom: 8rem;
    line-height: 1.6;
  }

  /* COURSES */
  .courses__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 3em;
    padding-bottom: 5em;
  }

  .courses__title {
    font-size: 3em;
  }
}
