@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@500;700;800&display=swap');

:root {
  --blue-hover: #666ca3;
  --blue: #13183f;
  --text-gray: hsl(232, 10%, 56%);
  --main-orange: #f74780;
  --main-pink: #ffa7c3;
  --white: #ffffff;
  --primary-gradient: linear-gradient(180deg, #ff6f48 0.04%, #f02aa6 100%);
  --secondary-gradient: linear-gradient(180deg, #4851ff 0%, #f02aa6 99.92%);

  --header-height: 3.5rem;

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: 'Plus Jakarta Sans', sans-serif;
  --biggest-font-size: 3.5rem;
  --bigger-font-size: 1.35rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1.65rem;
  --normal-font-size: 1.55rem;
  --small-font-size: 0.813rem;
  --smaller-font-size: 0.75rem;

  /*========== Font weight ==========*/
  --font-medium: 500;
  --font-semi-bold: 700;
  --font-super-bold: 900;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 1024px) {
  :root {
    --biggest-font-size: 5.4rem;
    --bigger-font-size: 1.75rem;
    --h1-font-size: 2.25rem;
    --h2-font-size: 3.2rem;
    --h3-font-size: 2.5rem;
    --normal-font-size: 1.6rem;
    --small-font-size: 0.875rem;
    --smaller-font-size: 0.813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  background: linear-gradient(180deg, #ffffff 0%, #f0f1ff 100%);
  color: var(--text-gray);
  background-repeat: no-repeat;
}

h1,
h2,
h3 {
  color: var(--blue);
  font-weight: var(--font-medium);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/* img {
  max-width: 100%;
  height: auto;
} */

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 50rem;
  margin-inline: 2rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section__title {
  font-size: var(--h1-font-size);
  font-family: var(--title-font);
  margin-bottom: 1.5rem;
}

.section__subtitle {
  display: block;
  font-size: var(--h2-font-size);
  font-family: var(--subtitle-font);
  color: var(--first-color);
  margin-bottom: 0.5rem;
}

.section__title,
.section__subtitle {
  text-align: center;
}

.main {
  overflow: hidden; /* For animation ScrollReveal */
}

.btn {
  font-size: 2rem;
  color: var(--white);
  font-weight: 700;
  padding: 1rem 1.8rem;
  border-radius: 6rem;
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: var(--white);
  /* box-shadow: 0 8px 20px hsla(232, 10%, 56%, 0.1); */
  transition: box-shadow 0.3s;
  padding-bottom: 3rem;
}

.nav {
  position: relative;
  margin-top: 3rem;
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav__logo {
  display: flex;
}

.nav__logo {
  align-items: center;
  column-gap: 0.5rem;
  transition: color 0.3s;
}

.nav__logo img {
  width: 7rem;
}

.btn-blue {
  background-color: var(--blue);
}

/*=============== HOME ===============*/
.home {
  position: relative;
}

.home__container {
  row-gap: 6rem;
  padding-top: 13rem;
}

.home__data {
  text-align: left;
}

.home__title {
  font-size: var(--biggest-font-size);
  font-family: var(--title-font);
  font-weight: var(--font-super-bold);
  margin-bottom: 2rem;
}

.home__title div {
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
}

.home__description {
  margin-bottom: 5rem;
  font-size: var(--bigger-font-size);
  line-height: 1.7;
}

.btn-orange {
  background: var(--primary-gradient);
  padding: 2.25rem 4.5rem;
}

.home__img-img {
  width: 130%;
  justify-self: center;
}

.desktop-image {
  display: none;
}

/* https://www.frontendmentor.io/challenges/skilled-elearning-landing-page-S1ObDrZ8q */

/*=============== Courses ===============*/

.courses {
  margin-top: -3rem;
}

.courses__container {
  grid-template-columns: 1fr;
  justify-content: center;
  row-gap: 5.5rem;
  margin-bottom: 8rem;
}

.courses__title {
  color: #fff;
  background: var(--primary-gradient);
  font-size: 2.1rem;
  padding: 4rem 3.5rem;
  border-radius: 1rem;
  font-weight: 700;
}

.courses__card {
  position: relative;
  background-color: var(--white);
  padding: 8rem 3.5rem 4.5rem;
  border-radius: 1.5rem;
  box-shadow: 0 8px 20px hsla(19, 64%, 48%, 0.08);
  text-align: left;
}

.courses__img {
  width: 4.5rem;
  position: absolute;
  inset: 0;
  top: -3rem;
  left: 3.5rem;
  transition: transform 0.4s;
}

.courses__name {
  font-size: var(--h3-font-size);
  font-weight: var(--font-super-bold);
  font-family: var(--title-color);
  margin-bottom: 2.5rem;
}

.courses__description {
  display: block;
  font-size: var(--bigger-font-size);
  line-height: 1.6;
  margin-bottom: 3.5rem;
}

.courses__button {
  border: none;
  outline: none;
  color: var(--main-orange);
  font-weight: var(--font-semi-bold);
  font-size: 2.3rem;
  cursor: pointer;
  transition: background 0.3s;
}

/*=============== FOOTER ===============*/
footer {
  background: var(--blue);
}

.footer__container {
  padding: 5rem 0;
  display: flex;
  justify-content: space-between;
}

.btn-footer {
  background: var(--secondary-gradient);
}

@media screen and (min-width: 768px) {
  body {
    position: relative;
    width: 100%;
    height: 100%;
  }

  body::after {
    /* content: ' '; */
    background: url(desktop-preview.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);

    width: 1440px;
    height: 1795px;
    z-index: 999;
    opacity: 0.6;
  }

  .header {
    position: initial;
    background-color: transparent;
    padding-bottom: 0;
  }

  .nav {
    height: 10rem;
    background-color: transparent;
  }
  .nav__logo img {
    width: 11rem;
  }

  .btn-blue {
    font-size: 2.3rem;
    padding: 1rem 2rem;
  }

  .container {
    max-width: 108rem;
    margin: 0 auto;
  }

  .btn {
    font-size: 2.3rem;
    font-weight: 500;
  }

  .btn-blue {
    font-size: 1.9rem;
    padding: 1.4rem 2.8rem;
  }

  .btn-orange {
    font-size: 1.7rem;
    font-weight: 700;
    padding: 2rem 3.2rem;
  }

  .main,
  .home.section {
    overflow: visible;
  }

  .home__container {
    padding-top: 14.5rem;
    display: flex;
    position: relative;
    overflow: visible;
    margin-bottom: 29rem;
  }

  .home__title {
    margin-bottom: 3rem;
  }

  .mobile-image {
    display: none;
  }
  .desktop-image {
    display: block;
    position: absolute;
    top: -23.5rem;
    right: -47rem;
    max-width: 1000px;
    z-index: 5;
  }

  .home__data {
    max-width: 55%;
  }

  .home__description {
    padding-right: 16rem;
    margin-bottom: 6rem;
    line-height: 1.6;
  }

  /* COURSES */

  .courses {
    padding-bottom: 7rem;
  }
  .courses__container {
    grid-template-columns: repeat(3, 1fr);
    gap: 8rem 3rem;
    padding-bottom: 5rem;
  }

  .courses__title {
    font-size: var(--h2-font-size);
    padding: 6.2rem 3rem 5.2rem 2.95rem;
  }

  .courses__img {
    width: 5.5rem;
    top: -2.2rem;
    left: 3rem;
  }

  .courses__card {
    padding: 6.2rem 3.2rem 9rem;
    position: relative;
  }

  .courses__description {
    line-height: 1.5;
    margin-bottom: 0;
  }

  .courses__button {
    font-size: 1.8rem;
    position: absolute;
    bottom: 4rem;
    left: 3rem;
  }

  /* FOOTER */

  .footer__container {
    padding: 5rem 0;
  }
  .btn-footer {
    padding: 1.5rem 3.2rem;
    font-size: 1.7rem;
    font-weight: 700;
  }
}
